---

import Formacion from '../components/Formacion.astro';
import Experiencia from '../components/Experiencia.astro';
import Nav from '../components/nav.astro';
import Skills from '../components/skills.astro';
import SobreMi from '../components/sobreMi.astro';
import Layout from '../layouts/Layout.astro';
import Proyectos from '../components/Proyectos.astro';
import Footer from '../components/Footer.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio">
	<!--<Nav /> -->
	<section class="md:mt-20">
		<SobreMi />
	</section>
	<section class="p-5 mt-5 md:mt-20">
		<Skills />
	</section>
	<section class="mt-5 md:mt-20">
		<Experiencia />
	</section>
	<section class="mt-5 md:mt-20">
		<Formacion />
	</section>
	<section class="mt-5 md:mt-20">
		<Proyectos />
	</section>
	<section class="mt-5 md:mt-20">
		<Footer />
	</section>

</Layout>
