<section class="flex bg-gray-700 text-white p-15">
    <div class="flex flex-col md:flex-row justify-around items-center w-full">
        <a class="select-none flex font-bold mt-2" href="https://www.linkedin.com/in/iago-sobreira-9a8254348?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img class="mr-2" src="/svg/linkedin-blue.svg" width="30" height="30"> Linkedin</a>
        <a class="select-none flex font-bold mt-2" href="https://github.com/iagosobreira"><img class="mr-2" src="/svg/github-white.svg" width="30" height="30">Github</a>
        <p class="flex font-bold mt-2"><img class="mr-2" src="/svg/gmail.svg" width="30" height="30">iagosobreiraga@gmail</p>
    </div>
</section>

