
<section  class=" flex flex-col p-10 items-center">
    <h3 id="formacion" class="font-bold text-4xl text-center items-center text-yellow-500">Formación</h3>
    <div class="p-5 mt-10 text-white bg-gray-800 rounded-2xl md:w-full lg:w-240">
        <div class="mb-3">
            <h4 class="font-bold text-2xl">Técnico Superior en Desarrollo de Aplicaciones Web</h4>
            <p class="text-gray-600 mt-2">2024 - Actualidad</p>
            <p class="">Enfoque en desarrollo web frontend y backend, buenas prácticas, estructura de proyectos y tecnologías web modernas.</p>
        </div>
        <hr>
        <div class="mt-3">
            <h4 class="font-bold text-2xl">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</h4>
            <p class="text-gray-600 mt-2">2018 – 2020</p>
            <p class="">Formación orientada a la programación, bases de datos, lógica de software y trabajo con entornos multiplataforma.</p>
        </div>
        
    </div>
</section>

<!-----
<h3 id="curriculum" class="font-bold text-4xl text-center items-center text-yellow-500">Curriculum</h3>
<section  class=" items-center flex flex-col p-10 ">
    <div class="bg-gray-800 rounded-2xl p-5 lg:w-220 ">
        <h4 class="font-bold text-2xl">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</h4>
        <p>2018 – 2020</p>
        <p class="mt-2">Formación orientada a la programación, bases de datos, lógica de software y trabajo con entornos multiplataforma.</p>
    </div>
    <div class="bg-blue-400 rounded-2xl p-5 mt-4 lg:w-220">
        <h4 class="font-bold text-2xl">Técnico Superior en Desarrollo de Aplicaciones Web</h4>
        <p>2024 - Actualidad</p>
        <p class="mt-2">Enfoque en desarrollo web frontend y backend, buenas prácticas, estructura de proyectos y tecnologías web modernas.</p>
    </div>
</section>
--- -->