<h3 id="proyectos" class="font-bold text-4xl text-center items-center text-yellow-500">Proyectos</h3>
<section class="grid items-stretch gap-15 mt-10 mx-10 lg:mx-40 place-items-center grid-cols-1 grid-flow-row
                md:grid-cols-2 md:grid-rows-1 md:grid-flow-row
                lg:grid-cols-2 md:p-10 md:mt-0 ">

    <div class="flex flex-col border-4 rounded-2xl p-5 items-center h-full w-full m-0 bg-gray-800 transition-transform duration-300 hover:scale-105">
        <h4 class="font-bold text-4xl">Portfolio</h4>
        <br>
        <p>Portfolio web personal desarrollado con Astro, dise침ado para presentar mis proyectos, habilidades y experiencia profesional.</p>
        <ul class="flex">
            <li class="p-2"><img src="/portfolio/svg/html.svg"></li>
            <li class="p-2"><img src="/portfolio/svg/astro.svg" width="38" height="38"></li>
            <li class="p-2"><img src="/portfolio/svg/tailwind.svg"></li>
        </ul>
        <a href="https://github.com/iagosobreira/portfolio" class="flex mt-2 border-2 text-white bg-black rounded-2xl p-2 select-none cursor-pointer"><img class="mr-2" src="/portfolio/svg/github-white.svg" width="30" height="30">Github</a>
    </div>

    <div class="flex flex-col border-4 rounded-2xl p-5 items-center h-full w-full m-0 bg-gray-800 transition-transform duration-300 hover:scale-105">
        <h4 class="font-bold text-4xl">Proyecto CRUD tareas</h4>
        <br>
        <p class="text-center">Aplicaci칩n web de gesti칩n de tareas desarrollada con Flask que permite a los usuarios registrarse, iniciar sesi칩n y gestionar sus tareas personales.</p>
        <ul class="flex">
            <li class="p-2"><img src="/portfolio/svg/html.svg"></li>
            <li class="p-2"><img src="/portfolio/svg/python.svg" width="47px"></li>
            <li class="p-2"><img src="/portfolio/svg/flask.svg" width="47px"></li>
            <li class="p-2"><img src="/portfolio/svg/jinja.svg" width="47px"></li>
            <li class="p-2"><img src="/portfolio/svg/postgresql.svg" width="47px"></li>
            
        </ul>
        <a href="https://github.com/iagosobreira/flask-crud-tareas.git" class="flex mt-2 border-2 text-white bg-black rounded-2xl p-2 select-none cursor-pointer"><img class="mr-2" src="/portfolio/svg/github-white.svg" width="30" height="30">Github</a>
    </div>

    



</section>