

<h3 class=" font-bold text-4xl text-center items-center text-yellow-500">Stack tecnológico</h3>
<h5 class="italic font-bold text-center text-3xl mt-10  text-violet-500">Lenguajes</h5>
<section class="items-center grid grid-cols-2 gap-4 grid-flow-row md:grid-cols-none md:grid-rows-1 md:grid-flow-col xl:w-7xl mx-auto">
    <div class="group flex flex-col p-5 md:mt-10 items-center  ">
        <img class="w-22 md:w-27 lg:w-32" src="/svg/python.svg">
        <p class="font-bold ">Python</p>
        <span class="text-sm text-yellow-500 italic font-bold opacity-0 group-hover:opacity-100 transition mt-2">
            +5 años de experiencia
        </span>
    </div>
    <div class="group flex flex-col p-5 md:mt-10 items-center">
        <img class="w-22 md:w-27 lg:w-32" src="/svg/html.svg">
        <p class="font-bold">HTML</p>
        <span class="text-sm text-yellow-500 italic font-bold opacity-0 group-hover:opacity-100 transition mt-2">
            Maquetación básica y semántica 
        </span>
    </div>
    <div class="group flex flex-col p-5 md:mt-10 items-center">
        <img class="w-22 md:w-27  lg:w-32" src="/svg/css.svg">
        <p class="font-bold">CSS</p>
        <span class="text-sm text-yellow-500 italic font-bold opacity-0 group-hover:opacity-100 transition mt-2">
            Aprendiendo actualmente
        </span>
    </div>
    <div class="group flex flex-col p-5 md:mt-10 items-center">
        <img class="w-22 md:w-27 lg:w-32" src="/svg/javascript.svg">
        <p class="font-bold">JavaScript</p>
        <span class="text-sm text-yellow-500 italic font-bold opacity-0 group-hover:opacity-100 transition mt-2">
            Uso académico / personal
        </span>
    </div>
</section>
<h5 class="italic font-bold text-center text-3xl  text-violet-500">Herramientas</h5>
<section class="flex justify-around md:justify-center mt-10  md:gap-60">
    <div class="text-center">
        <img class="w-12 md:w-16 lg:w-16" src="/svg/git.svg">
        <p class="font-bold">Git</p>
    </div>
    <div class="text-center">
        <img class="w-12 md:w-16 lg:w-16" src="/svg/github-black.svg">
        <p class="font-bold">Github</p>
    </div>
</section>


