---
---
<section id="sobreMi" class="flex flex-col lg:flex-row p-10 justify-center ">
    <div class="flex-1 flex justify-center lg:justify-end items-center ">
        <img class="size-60 rounded-2xl md:size-75 md:h-85 md:mr-4 " src="/portfolio/images/perfil.png">
    </div>
    <div class="flex-1  mt-4 animate-fade-in animate-expand-horizontally">
        <h1 class="font-bold text-4xl md:text-7xl mb-2">¡Hola!</h1>
        <h1 class="font-bold text-4xl md:text-7xl mb-2">Soy <span class="text-yellow-500">Iago Sobreira</span></h1>
        <h3 class="font-bold text-2xl ">Desarrollador Python | Web | Análisis de datos</h3>
        <p class="lg:w-170 ">Desarrollador con experiencia en Python y análisis de datos en entornos de I+D.
                            Actualmente formándome en desarrollo web y ampliando mis conocimientos en tecnologías frontend y backend.</p>
        <div class="flex flex-row mt-3 gap-3 text-black justify-center md:justify-start">
            <a class="flex flex-row pr-2 items-center bg-amber-500 border-b-black border-2 rounded-2xl p-1
                    hover:bg-amber-700 transition"
            href="https://github.com/iagosobreira"><img class="w-4" src="/portfolio/svg/github.svg"> Github</a>
            <a class="flex flex-row pr-2 items-center bg-amber-500 border-b-black border-2 rounded-2xl p-1
                    hover:bg-amber-700 transition "
            href="https://www.linkedin.com/in/iago-sobreira-9a8254348?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img class="w-4" src="/portfolio/svg/linkedin.svg"> Linkedin</a>
        
            <a class="flex flex-row pr-2 items-center bg-amber-500 border-b-black border-2 rounded-2xl p-1
                    hover:bg-amber-700 transition "
            href="/portfolio/cv/Iago_Sobreira_CV.pdf">📄 CV</a>
        
        </div>
    </div>
</section>